#map {
    height: 400px!important;
    width: 100%!important;
}

.selected-parcelshop {
    list-style-type: none;
    margin: 0;
}

#parcelshops .button.parcelLink {
    background-color: #DF0033;
    color: white;
    margin-bottom: 3px;
    margin: 10px 0 10px 0;
    padding: 10px;
}

#parcelshops img {
    display: inline;
}

.modal-week-row {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.info-modal-content {
    max-width: 400px;
    min-width: 300px;
}

.gm-style-iw.gm-style-iw-c,
.gm-style-iw-d {
    max-width: 500px!important;

}

#parcelshops .modal-day {
    float: left;
    margin-right: 10px;
    display: inline-block;
    width: 33.3%;
}

#parcelshops .model-week-row .modal-day p {
    margin-bottom: 0;
}

.info-modal-content p {
    margin: 0;
}

.modal-title {
    float: right;
    font-size: 20px;
    margin: 10px 0px 0px 10px;
}

.dpdCheckoutRow td {
    padding-left: 0;
    padding-right: 0;
}

.sidebar_single {
    margin-top: 10px;
}

.mapContainer {
    margin-bottom: 20px;
}

.parcelshopContainer {
    margin-top: 10px;
    background-color: #F8F8F8;
    padding: 20px;
}

/* The Modal (background) */
.parcelshop-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    overflow: hidden;
    padding-bottom: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.parcelshop-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #888;
    width: 56%; /* Could be more or less, depending on screen size */
    height: 800px;
}

/* The Close Button */
.parcelshop-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.parcelshop-modal-close:hover,
.parcelshop-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
